{% extends 'base.html' %}
{% load static %}

{% block content %}
  <p>
    <a href="{% url 'params_list' %}" class="btn btn-primary">Back</a>
  </p>
  <table class="table table-bordered">
    <tbody>
        <tr>
            <th>id</th>
            <td>{{ oitsParams.id }}</td>
        </tr>
        <tr>
            <th>uid</th>
            <td>{{ oitsParams.uid }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ oitsParams.description }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td id="{{params.id}}_status" class="status">{{ oitsParams.get_status_display }}</td>
        </tr>
        <tr>
            <th>Created At</th>
            <td>{{ oitsParams.created_at }}</td>
        </tr>
        <tr>
            <th>Parameters</th>
            <td>{{ oitsParams.parameters|linebreaks }}</td>
        </tr>
    </tbody>
  </table>
  <p>
    {% if oitsParams.status == "C"  %}
        <a id="download-results" href="{% get_media_prefix %}{{oitsParams.uid}}.zip" class="btn btn-primary">
            Download Results
        </a>

        <a id="view-render" href="https://oits3d.justinhui.com/#/?uid={{oitsParams.uid}}" class="btn btn-secondary">
            View Render
        </a>

    {% else %}
        <a id="download-results" href="{% get_media_prefix %}{{oitsParams.uid}}.zip" class="btn btn-primary d-none">
            Download Results
        </a>
        <a id="view-render" href="https://oits3d.justinhui.com/#/?uid={{oitsParams.uid}}" class="btn btn-secondary d-none">
            View Render
        </a>
    {% endif %}

  </p>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/monitor-status.js' %}"></script>
{% endblock %}