{% extends 'base.html' %}
{% load static %}

{% block content %}
  <p>
    <a href="{% url 'params_add' %}" class="btn btn-primary">Add Run</a>
  </p>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Status</th>
        <th>Created At</th>
      </tr>
    </thead>
    <tbody>
      {% for params in oitsParams %}
        <tr>
            <td>
                <a href="/runs/{{ params.id }}"/>{{ params.id }}</a>
            </td>
            <td>
                <a href="/runs/{{ params.id }}"/>{{ params.description }}</a>
            </td>
            <td id="{{params.id}}_status" class="status">{{ params.get_status_display }}</td>
            <td>{{ params.created_at }}</td>
        </tr>
      {% empty %}
        <tr class="table-active">
          <td colspan="4">No data</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/monitor-status.js' %}"></script>
{% endblock %}